.sets {
    padding: 4rem;
    background: #fff;
    min-height:100vh;
    width: 100%;
  }


  
 .sets_header {
    text-align: center;
    color: black;
    font-size: 3rem;
    padding-top: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  .sets_header_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sets_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  
  .sets_wrapper {

    position: relative;
    margin: 50px 0 45px;
    width: 80vw;
  }
  
  .sets_items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-bottom: 24px;
    width: 100%;
  }
  
  .set_item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .set_item_link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.017));
    filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .set_item_wraper {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .set_item_wraper::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #2b2b2b;
    box-sizing: border-box;
  }
  
  .set_item_img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .set_item_img:hover {
    transform: scale(1.1);
  }
  
  .set_item_info {
    padding: 20px 30px 30px;
  }
  
  .set_item_text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .sets_items {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .set_item {
      margin-bottom: 2rem;
    }
  }